:host {
    font-size: 16px;
    color-scheme: light;
  --ah-backgroundPrimary: 252 252 252;
  --ah-backgroundSecondary: 248 248 248;
  --ah-border: 226 226 226;
  --ah-content1: 28 28 28;
  --ah-content2: 88 87 87;
  --ah-content3: 150 150 150;
  --ah-whiteInverted: 0 0 0;
  --ah-blackInverted: 255 255 255;
  --ah-neutral: 105 113 119;
  --ah-primary: 0 114 245;
  --ah-secondary: 151 80 221;
  --ah-success: 23 201 100;
  --ah-error: 243 18 96;
  --ah-warning: 255 184 0;
  --ah-blue-1: 251 253 255;
  --ah-blue-2: 245 250 255;
  --ah-blue-3: 237 246 255;
  --ah-blue-4: 225 240 255;
  --ah-blue-5: 206 231 254;
  --ah-blue-6: 183 217 248;
  --ah-blue-7: 150 199 242;
  --ah-blue-8: 94 176 239;
  --ah-blue-9: 0 145 255;
  --ah-blue-10: 0 129 241;
  --ah-blue-11: 0 106 220;
  --ah-blue-12: 0 37 77;
  --ah-purple-1: 254 252 254;
  --ah-purple-2: 253 250 255;
  --ah-purple-3: 249 241 254;
  --ah-purple-4: 243 231 252;
  --ah-purple-5: 237 219 249;
  --ah-purple-6: 227 204 244;
  --ah-purple-7: 211 180 237;
  --ah-purple-8: 190 147 228;
  --ah-purple-9: 142 78 198;
  --ah-purple-10: 132 69 188;
  --ah-purple-11: 121 58 175;
  --ah-purple-12: 43 14 68;
  --ah-green-1: 251 254 252;
  --ah-green-2: 242 252 245;
  --ah-green-3: 233 249 238;
  --ah-green-4: 221 243 228;
  --ah-green-5: 204 235 215;
  --ah-green-6: 180 223 196;
  --ah-green-7: 146 206 172;
  --ah-green-8: 91 185 140;
  --ah-green-9: 48 164 108;
  --ah-green-10: 41 151 100;
  --ah-green-11: 24 121 78;
  --ah-green-12: 21 50 38;
  --ah-yellow-1: 253 253 249;
  --ah-yellow-2: 255 252 232;
  --ah-yellow-3: 255 251 209;
  --ah-yellow-4: 255 248 187;
  --ah-yellow-5: 254 242 164;
  --ah-yellow-6: 249 230 140;
  --ah-yellow-7: 239 211 108;
  --ah-yellow-8: 235 188 0;
  --ah-yellow-9: 245 217 10;
  --ah-yellow-10: 247 206 0;
  --ah-yellow-11: 148 104 0;
  --ah-yellow-12: 53 41 15;
  --ah-red-1: 255 252 252;
  --ah-red-2: 255 248 248;
  --ah-red-3: 255 239 239;
  --ah-red-4: 255 229 229;
  --ah-red-5: 253 216 216;
  --ah-red-6: 249 198 198;
  --ah-red-7: 243 174 175;
  --ah-red-8: 235 144 145;
  --ah-red-9: 229 72 77;
  --ah-red-10: 220 61 67;
  --ah-red-11: 205 43 49;
  --ah-red-12: 56 19 22;
  --ah-cyan-1: 250 253 254;
  --ah-cyan-2: 242 252 253;
  --ah-cyan-3: 231 249 251;
  --ah-cyan-4: 216 243 246;
  --ah-cyan-5: 196 234 239;
  --ah-cyan-6: 170 222 230;
  --ah-cyan-7: 132 205 218;
  --ah-cyan-8: 61 185 207;
  --ah-cyan-9: 5 162 194;
  --ah-cyan-10: 8 148 179;
  --ah-cyan-11: 12 119 146;
  --ah-cyan-12: 4 49 60;
  --ah-pink-1: 255 252 254;
  --ah-pink-2: 255 247 252;
  --ah-pink-3: 254 238 248;
  --ah-pink-4: 252 229 243;
  --ah-pink-5: 249 216 236;
  --ah-pink-6: 243 198 226;
  --ah-pink-7: 236 173 212;
  --ah-pink-8: 227 142 195;
  --ah-pink-9: 214 64 159;
  --ah-pink-10: 210 49 151;
  --ah-pink-11: 205 29 141;
  --ah-pink-12: 59 10 42;
  --ah-gray-1: 252 252 252;
  --ah-gray-2: 248 248 248;
  --ah-gray-3: 243 243 243;
  --ah-gray-4: 237 237 237;
  --ah-gray-5: 232 232 232;
  --ah-gray-6: 226 226 226;
  --ah-gray-7: 219 219 219;
  --ah-gray-8: 199 199 199;
  --ah-gray-9: 143 143 143;
  --ah-gray-10: 133 133 133;
  --ah-gray-11: 111 111 111;
  --ah-gray-12: 23 23 23;
  --ah-slate-1: 251 252 253;
  --ah-slate-2: 248 249 250;
  --ah-slate-3: 241 243 245;
  --ah-slate-4: 236 238 240;
  --ah-slate-5: 230 232 235;
  --ah-slate-6: 223 227 230;
  --ah-slate-7: 215 219 223;
  --ah-slate-8: 193 200 205;
  --ah-slate-9: 136 144 150;
  --ah-slate-10: 126 134 140;
  --ah-slate-11: 104 112 118;
  --ah-slate-12: 17 24 28;
}
/* preset */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
*,
::before,
::after {
  border-width: 0;
  border-style: solid;
}
/* custom rule */
.bg-backgroundPrimary{
    background-color: white;
    border: 2px solid rgb(var(--ah-blue-5));
}

.w-96{
    width: 24rem;
}
.p-4{
    padding: 1rem;
}
.fixed {
    position:fixed;
}
.ring-2 {
    box-shadow: inset 2px rgb(var(--ah-blue-5));
}

.rounded-sm {
    border-radius: 0.125rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}
.max-w-full {
    max-width: 100%;
}
.w-full {
    width: 100%;
}
.max-w-sm {
    max-width: 24rem/* 384px */;
}
.flex-col {
    flex-direction: column;
}
.gap-6 {
    gap: 1.5rem/* 24px */;
}
.flex-col {
    flex-direction: column;
}
.gap-1 {
    gap: 0.25rem/* 4px */;
}

.text-3xl {
    font-size: 1.875rem/* 30px */;
    line-height: 2.25rem/* 36px */;
}
.font-semibold {
    font-weight: 600;
}
.text-xs {
    font-size: 0.75rem/* 12px */;
    line-height: 1rem/* 16px */;
}
.text-sm {
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
}

.text-yellow-600 {
    --ah-text-opacity: 1;
    color: rgb(202 138 4 / var(--ah-text-opacity));
}

.form-group {
    gap: .75rem/* 12px */;
    width: 100%;
}
.form-field,.form-group {
    display: flex;
    flex-direction: column;
}
.form-field {
    gap: .375rem/* 6px */;
}
.form-label {
    --ah-text-opacity: 1;
    color: rgb(var(--ah-content1)/var(--ah-text-opacity));
    display: flex;
    flex-direction: row;
    font-size: .875rem/* 14px */;
    justify-content: space-between;
    line-height: 1.25rem/* 20px */;
    padding-left: .25rem/* 4px */;
    padding-right: .25rem/* 4px */;
}
.form-label-alt {
    --ah-text-opacity: 1;
    color: rgb(var(--ah-content2)/var(--ah-text-opacity));
    font-size: .75rem/* 12px */;
    line-height: 1rem/* 16px */;
}

.text-indigo-600 {
    --ah-text-opacity: 1;
    color: rgb(79 70 229 / var(--ah-text-opacity));
}

.input {
    --ah-border-opacity: 1;
    --ah-bg-opacity: 1;
    --ah-text-opacity: 1;
    background-color: rgb(var(--ah-gray-1)/var(--ah-bg-opacity));
    border-color: rgb(var(--ah-gray-6)/var(--ah-border-opacity));
    border-radius: .75rem/* 12px */;
    border-width: 2px;
    color: rgb(var(--ah-content1)/var(--ah-text-opacity));
    font-size: 0.75rem/* 16px */;
    height: 2.0rem;/* 40px */
    line-height: 1.5rem/* 24px */;
    max-width: 20rem/* 320px */;
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding-left: .75rem/* 12px */;
    padding-right: .75rem/* 12px */;
    width: 100%;
}
.input::-moz-placeholder {
    --ah-text-opacity: 1;
    color: rgb(var(--ah-content3)/var(--ah-text-opacity));
}
.input::placeholder {
    --ah-text-opacity: 1;
    color: rgb(var(--ah-content3)/var(--ah-text-opacity));
}
.input:disabled {
    opacity: 0.5;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.input-solid {
    --ah-bg-opacity: 1;
    --ah-text-opacity: 1;
    background-color: rgb(var(--ah-gray-4)/var(--ah-bg-opacity));
    border-color: transparent;
    color: rgb(var(--ah-gray-12)/var(--ah-text-opacity));
}
.input-solid::-moz-placeholder {
    --ah-text-opacity: 1;
    color: rgb(var(--ah-gray-10)/var(--ah-text-opacity));
}
.input-solid::placeholder {
    --ah-text-opacity: 1;
    color: rgb(var(--ah-gray-10)/var(--ah-text-opacity));
}

.btn-sm {
    border-radius: .5rem/* 8px */;
    height: 2rem/* 32px */;
    min-height: 2rem/* 32px */;
    padding-left: .75rem/* 12px */;
    padding-right: .75rem/* 12px */;
}
.btn-md,.btn-sm {
    font-size: .875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
}
.text-orange-600 {
    --ah-text-opacity: 1;
    color: rgb(234 88 12 / var(--ah-text-opacity));
}
.btn-solid-warning {
    --ah-bg-opacity: 1;
    --ah-text-opacity: 1;
    background-color: rgb(var(--ah-yellow-4)/var(--ah-bg-opacity));
    color: rgb(var(--ah-yellow-11)/var(--ah-text-opacity));
}
.btn-solid-warning:hover {
    --ah-bg-opacity: 1;
    background-color: rgb(var(--ah-yellow-5)/var(--ah-bg-opacity));
}
.btn-solid-warning:focus-visible {
    outline-color: rgb(var(--ah-yellow-6));
}
.btn-solid-warning:active {
    --ah-bg-opacity: 1;
    background-color: rgb(var(--ah-yellow-6)/var(--ah-bg-opacity));
}

.select {
    --ah-border-opacity: 1;
    --ah-bg-opacity: 1;
    --ah-text-opacity: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: rgb(var(--ah-gray-1)/var(--ah-bg-opacity));
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg class='select-icon' xmlns='http://www.w3.org/2000/svg' width='24' height='24' style='fill:%237e868c'%3E%3Cpath d='M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z'/%3E%3C/svg%3E");
    background-position: right .5rem/* 8px */ center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    border-color: rgb(var(--ah-gray-6)/var(--ah-border-opacity));
    border-radius: .75rem/* 12px */;
    border-width: 2px;
    color: rgb(var(--ah-content1)/var(--ah-text-opacity));
    font-size: 1rem/* 16px */;
    height: 2.5rem/* 40px */;
    line-height: 1.5rem/* 24px */;
    max-width: 20rem/* 320px */;
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding-left: .75rem/* 12px */;
    padding-right: .75rem/* 12px */;
    width: 100%;
}
.select::-moz-placeholder {
    --ah-text-opacity: 1;
    color: rgb(var(--ah-content3)/var(--ah-text-opacity));
}
.select::placeholder {
    --ah-text-opacity: 1;
    color: rgb(var(--ah-content3)/var(--ah-text-opacity));
}
.select:disabled {
    opacity: 0.5;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.form-control {
    display: flex;
    flex-direction: row;
    font-size: .875rem/* 14px */;
    gap: .375rem/* 6px */;
    line-height: 1.25rem/* 20px */;
    position: relative;
}

.text-green-700 {
    --ah-text-opacity: 1;
    color: rgb(21 128 61 / var(--ah-text-opacity));
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}

.rounded-lg {
    border-radius: 0.5rem/* 8px */;
}
.btn {
    --ah-bg-opacity: 1;
    --ah-text-opacity: 1;
    align-items: center;
    background-color: rgb(var(--ah-gray-3)/var(--ah-bg-opacity));
    border-radius: .75rem/* 12px */;
    color: rgb(var(--ah-content1)/var(--ah-text-opacity));
    cursor: pointer;
    display: inline-flex;
    font-size: .875rem/* 14px */;
    font-weight: 500;
    height: 2.5rem/* 40px */;
    justify-content: center;
    line-height: 1.25rem/* 20px */;
    padding-left: 1.25rem/* 20px */;
    padding-right: 1.25rem/* 20px */;
    text-align: center;
    transition-duration: .15s;
    transition-property: color,transform,background-color,border-color;
    transition-timing-function: ease-in;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    will-change: transform;
}
.btn:focus {
    outline-width: 2px;
}
.btn:focus-visible {
    outline-color: rgb(var(--ah-gray-6));
    outline-offset: 2px;
    outline-style: solid;
}
.btn:active {
    --ah-scale-x: 0.97;
    --ah-scale-y: 0.97;
    transform: translate(var(--ah-translate-x),var(--ah-translate-y)) rotate(var(--ah-rotate)) skewX(var(--ah-skew-x)) skewY(var(--ah-skew-y)) scaleX(var(--ah-scale-x)) scaleY(var(--ah-scale-y));
}
.btn:where(.btn-primary,.btn-secondary,.btn-success,.btn-error,.btn-warning) {
    --ah-text-opacity: 1;
    border-style: none;
    color: rgb(255 255 255/var(--ah-text-opacity));
}
.btn:disabled {
    opacity: 0.5;
    pointer-events: none;
}
.btn:where(.btn-primary,.btn-secondary,.btn-success,.btn-error,.btn-warning) {
    --ah-text-opacity: 1;
    border-style: none;
    color: rgb(255 255 255/var(--ah-text-opacity));
}
.btn-primary {
    --ah-bg-opacity: 1;
    background-color: rgb(var(--ah-primary)/var(--ah-bg-opacity));
}
.btn-primary:focus-visible {
    outline-color: rgb(var(--ah-primary));
}